body {
  background: #ff0;
  font-size: 20px;
  color: #6505ff
}

::placeholder {
  color: #fff;
  opacity: .9
}

:-ms-input-placeholder {
  color: #fff
}

::-ms-input-placeholder {
  color: #fff
}

p {
  color: #00008b
}

li {
  color: #fd0303
}

label {
  text-align: center;
  color: #fff
}

div {
  text-align: center
}

.left {
  width: 25%
}

.right {
  width: 25%
}

.name {
  text-align: center;
  background-color: green;
  font-size: 20px;
  font-weight: 100;
  line-height: 14px;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 20px;
  border: 2px #297;
  border-radius: 6px
}

@keyframes roundtime {
  to {
    transform: scaleX(0)
  }
}