* {
  margin: 0;
  user-select: none;
}

#bottombar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-right: none;
  border-bottom: none;
  background-color: #0078D7;
  font-family: "Segoe UI", sans-serif;
  left: 0;
}

.icon {
  margin: auto 5px;
  padding: 2px;
  height: inherit;
  max-width: 40px;
  overflow: hidden;
  opacity: .81;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.icon:hover,
.icon:focus {
  opacity: 1;
  animation: iconHover 0.3s forwards;
}

@keyframes iconHover {
  from {
    transform: scale(1.0, 1.0);
  }

  to {
    transform: scale(1.2, 1.2);
  }
}